@inherits LayoutComponentBase
@using BlazorAITest.Client.Components
@using Telerik.Blazor.Components

<TelerikRootComponent>
    @* Add the Toast component *@
    <Toast />
    <div class="main">
        @Body
    </div>
</TelerikRootComponent>